#foreach($element in $!vm.imports)
import $!element;
#end

/**
 * $!vm.table.remarks
 * @author $!vm.author
 * Create at $!vm.dateTime
 */
@Entity
@Table(name = "$!vm.table.name")
@Data
@NoArgsConstructor(access = AccessLevel.PROTECTED)
@RequiredArgsConstructor
public class $!vm.table.className {

#foreach($column in $!vm.table.columns)

    /**
     * $!column.remarks
     */
#if($!column.primaryKey)
    @Id
    @NonNull
#end
#if($!column.nullable)
    @Column(name = "$!column.name")
#else
    @Column(name = "$!column.name", nullable = false)
#end
    private $!column.fieldType $!column.fieldName;
#end
}